<footer id="footer"
  class="grid grid-cols-2 bg-primary-dark border-t-2 text-secondary-dark border-secondary-dark shrink-0 text-lg w-screen py-6">
  <div id="site-map" class="m-2 ms-6 flex flex-col justify-around h-full">
    <p class="hover:text-secondary-light">Your Orders</p>
    <p class="hover:text-secondary-light">Your Account</p>
    <p class="hover:text-secondary-light">Your Lists</p>
  </div>
  <div id="social-links" class="m-2 flex flex-col h-full justify-around items-center">
    <div id="facebook-social-link" class="flex hover:text-secondary-light">
      <i data-feather="facebook"></i>
      <p class="ms-3">Facebook</p>
    </div>
    <div id="instagram-social-link" class="flex hover:text-secondary-light">
      <i data-feather="instagram"></i>
      <p class="ms-3">Instagram</p>
    </div>
  </div>
</footer>