<%- include('partials/head.ejs') %>

  <body id="body" class="bg-primary font-sans">
    <div id="overlay" class="overlay">
      <div class="navMenu-close">
        <i id="navMenu-close" data-feather="x"></i>
      </div>
    </div>

    <header class="bg-primary-dark border-b-2 border-secondary-dark">
      <div class="flex">
        <a class="flex items-center ms-2" href="/"><i class="size-8 text-secondary-dark align-middle"
            data-feather="arrow-left"></i></a>
        <a href="/">
          <h1 class="font-bold text-secondary-dark text-xl my-4 me-4 ms-2">BitBuggy</h1>
        </a>
      </div>
    </header>

    <main class="bg-primary m-2 flex flex-col">
      <h2 class="text-2xl basis-full grow shrink-0 py-4 ps-3">Welcome</h2>
      <section id="section-signup" class="self-center border-secondary-dark border border-b-0 w-11/12 p-2 flex">
        <i data-feather="chevrons-down" class="m-2"></i>
        <div id="signup-dropdown" class="flex flex-col cursor-pointer">
          <small class="text-secondary-dark">New to BitBuggy?</small>
          <p class="font-bold text-primary-dark">Create an Account.</p>
        </div>
        <form id="signup-form" class="hidden flex-col my-4" action="/signup" method="POST">
          <label class="mt-2 ms-4" for="first_name">First Name</label>
          <input id="first_name" name="first_name" type="text"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label class="mt-2 ms-4" for="last_name">Last Name</label>
          <input id="last_name" name="last_name" type="text"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label class="mt-2 ms-4" for="email">Email Address</label>
          <input id="email" name="email" type="email"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label class="mt-2 ms-4" for="username">Username</label>
          <input id="username" name="username" type="text"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label class="mt-2 ms-4" for="create_password">Password</label>
          <input id="create_password" name="create_password" type="password"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label class="mt-2 ms-4" for="confirm_password">Confirm Password</label>
          <input id="confirm_password" name="confirm_password" type="password"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <button type="submit" name="submit-btn"
            class="bg-secondary-light text-primary-dark self-center p-2 border-none w-11/12 mt-4">Submit</button>
        </form>
      </section>
      <section id="section-signin" class="self-center border-secondary-dark border w-11/12 p-2">
        <div class="flex">
          <i data-feather="chevrons-down" class="m-2"></i>
          <div class="signin-dropdown flex flex-col cursor-pointer">
            <small class="text-secondary-dark">Already a customer?</small>
            <p class="font-bold text-primary-dark">Sign in.</p>
          </div>
        </div>
        <form id="signin-form" class="hidden flex-col" action="/signin" method="POST">
          <label for="user-input" class="mt-2 text-secondary-dark">Username</label>
          <input id="user-input" name="user" type="text"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <label for="password-input" class="mt-2 text-secondary-dark">Password</label>
          <input type="password" id="password-input" name="password"
            class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
          <button type="submit" name="submit-btn"
            class="bg-secondary-light text-primary-dark self-center p-2 border-none w-11/12 mt-2">Continue</button>
        </form>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>



    <script src="../public/js/signup.js"></script>
    <script>feather.replace();</script>
  </body>

  </html>