<%- include('partials/head.ejs') %>

  <body id="body" class="bg-primary font-sans">
    <div id="overlay" class="overlay">
      <div class="navMenu-close">
        <i id="navMenu-close" data-feather="x"></i>
      </div>
    </div>
    <header class="flex flex-col justify-between bg-primary-dark border-b-2 border-secondary-dark">
      <div class="flex flex-col pt-3">
        <div class="flex justify-between">
          <div>
            <div id="hamburger" class="flex flex-col px-2">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div class="m-auto">
            <a href="/">
              <img id="logo" src="../public/img/logo.png" alt="BitBuggy Logo" />
            </a>
          </div>
          <div id="main-nav-menu-items" class="flex justify-center items-end">
            <div id="user" class="self-center">
              <a href="/get-access" class=""><i data-feather="user" class="size-8 md:size-10 pe-1"></i></a>
            </div>
            <div id="shopping-icon" class="flex flex-col">
              <p id="shopping-count" class="md:text-xl">0</p>
              <i id="shopping-cart" data-feather="shopping-cart" class="size-8 md:size-10"></i>
            </div>
          </div>
        </div>
        <form id="main-search-container" class="py-3 m-auto w-5/6" action="/products" method="GET">
          <input class="rounded-md p-2 w-10/12 md:w-7/12" type="text" id="main-search-field" name="main-search-field"
            placeholder="Search products">
          <button type="submit" onclick="findItems()"><i id="search-tool" data-feather="search"></i></button>
        </form>
    </header>

    <nav id="nav" class="bg-secondary-dark flex">
      <div class="flex flex-col py-4 bg-secondary-light text-primary">
        <div class="user-login flex justify-end">
          <a href="/get-access">
            <p class="self-center text-sm pe-2">Sign in</p>
          </a>
          <i data-feather="user"></i>
        </div>
        <div class="p-4">
          <p>Browse</p>
          <p><strong>BitBuggy</strong></p>
        </div>
      </div>
      <ul class="nav-links mx-4 text-primary">
        <li class="nav-link-item flex m-4">
          <a href="/"></a><i class="size-5 mx-2" data-feather="home"></i>Home</a>
        </li>
        <li class="nav-link-item flex m-4">
          <a href="/products"></a><i class="size-5 mx-2" data-feather="package"></i>Products</a>
        </li>
        <li class="nav-link-item flex m-4">
          <a href="/get-access"></a><i class="size-5 mx-2" data-feather="user-check"></i>Become a Member</a>
        </li>
      </ul>
    </nav>

    <main class="min-h-lvh">

      <h1 class="text-4xl text-secondary-dark font-display">Top deals</h1>

    </main>


    <%- include('partials/footer.ejs') %>


      <script>
        feather.replace();
      </script>
      <script src="/js/home.js"></script>
  </body>

  </html>