<%- include('partials/head.ejs') %>
<body id="body" class="bg-violet-200 font-sans">
  <div id="overlay" class="overlay">
    <div class="navMenu-close">
      <i id="navMenu-close" data-feather="x"></i>
    </div>
  </div>

  <header class="bg-indigo-400 border-b-2 border-black">
    <div class="flex">
      <a class="flex items-center ms-2" href="/"><i class="size-8 align-middle" data-feather="arrow-left"></i></a>
      <a href="/"><h1 class="font-bold text-xl my-4 me-4 ms-2">BitBuggy</h1></a>
    </div>
  </header>

  <main class="bg-violet-200 m-2 flex flex-col">
    <h2 class="text-2xl basis-full grow shrink-0 py-4 ps-3">Welcome</h2>
    <section id="section-create" class="self-center border-black border border-b-0 w-11/12 p-2 flex flex-col">
      <div class="flex">
        <i data-feather="chevrons-down" class="m-2"></i>
        <div class="">
          <small class="text-slate-600">New to BitBuggy?</small>
          <p class="font-bold">Create an Account.</p>
        </div>
      </div>
      <form id="signup-form" class="hidden flex-col my-4" action="#" method="POST">
        <label class="mt-2 ms-4" for="first-name">First Name</label>
        <input id="first-name" type="text" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <label class="mt-2 ms-4" for="last-name">Last Name</label>
        <input id="last-name" type="text" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <label class="mt-2 ms-4" for="email">Email Address</label>
        <input id="email" type="email" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <label class="mt-2 ms-4" for="username">Username</label>
        <input id="username" type="text" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <label class="mt-2 ms-4" for="password">Password</label>
        <input id="password" type="password" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <label class="mt-2 ms-4" for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 p-1">
        <button class="bg-indigo-300 self-center p-2 border w-11/12 mt-4">Submit</button>
      </form>
    </section>
    <section id="section-signin" class="self-center border-black border w-11/12 p-2">
      <div class="flex">
        <i data-feather="chevrons-down" class="m-2"></i>
        <div class="">
          <small class="text-slate-600">Already a customer?</small>
          <p class="font-bold">Sign in.</p>
        </div>
      </div>
      <div id="signin-form" class="hidden flex-col">
        <label for="user">Username or email address</label>
        <form class="flex flex-col" action="#" method="POST">
          <input name="user" type="text" class="rounded-md self-center text-gray-700 border-black border-2 w-11/12 mt-2 p-2">
          <button class="bg-indigo-300 self-center p-2 border w-11/12 mt-2">Continue</button>
        </form>
      </div>
    </section>
  </main>
  <%- include('partials/footer.ejs') %>


  
  <script>
    feather.replace();
  </script>
  <script src="/js/signup.js"></script>
  </body>
  
  </html>