<%- include('partials/head.ejs') %>

  <body id="body" class="bg-primary font-sans">
    
    <h1 class="text-secondary-dark">Thank you for signing up!</h1>
    <a href="/" class="text-secondary-dark">Return to homepage</a>


      <script>
        feather.replace();
      </script>
      <script src="../public/js/home.js"></script>
  </body>

  </html>